/*
    Indicators table - implemented in view and controller (Survey)
*/
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable > table > thead > tr > th:nth-child(2) {
    width: 25%;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable .sapMListTbl .sapMText {
 font-size: 12px;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable .sapMListTbl td {
    text-align: left !important;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable td,
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable th {
    border: 1px solid;
    border-color: #E4E4E4 !important;
    height: 3.2rem;
}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable th.sapMListTblHighlightCol {
    border: 0px;
}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable tr:not(:last-child) .sapMListTblCell,
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable th {
    border-bottom-width: 0;
}
/*.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable .sapMListTblCell:not(:last-child) { */
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable .sapMListTblCell {
    border-right-width: 0;
}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable .sapMListTblNavCol,
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable .sapMListTblHighlightCell {
    border: none;
}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable {
    border-right: 1px solid;
    border-color: #E4E4E4 !important;
}

.ZHCM_PM_0650 .zIndicatorsTableDescriptionText.sapMText {
    color: rgb(0, 157, 224);
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em !important;
    /* max-height = line-height (1.2) * lines max number (2) */
    max-height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify !important;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}

/* create the "..." */
.ZHCM_PM_0650 .zIndicatorsTableDescriptionText.sapMText:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 1px;
}

/* hide ... if we have text, which is less than or equal to max lines */
.ZHCM_PM_0650 .zIndicatorsTableDescriptionText.sapMText:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.ZHCM_PM_0650 .zhcm_Hap_650TableCellButton {
    width: 100%;
    height: 100% !important;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 157, 224);
    background-color: transparent;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsTable > table > tbody > .sapMListTblRow > :nth-last-child(2) {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

.ZHCM_PM_0650 .zhcm_Hap_650TableCellButton .sapMBtnInner {
    height: 100%;
    font-size: inherit;
    color: inherit;
    border: none;
    background: #ffffff;
}

.ZHCM_PM_0650 .zhcm_Hap_650TableCellButton .sapMBtnContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ZHCM_PM_0650 .zhcm_Hap_650TableCellButton .sapMBtnInner.sapMToggleBtnPressed {
    color: #ffffff !important;
    background-color: #007cc0 !important;

}
/*
    Multiple toggle buttons - separate control
*/
.ZHCM_PM_0650 .zhcm_Hap_650MarkBox {
    margin: 0.5rem 0;
}

.ZHCM_PM_0650 .zhcm_Hap_650MarkBoxContainer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.ZHCM_PM_0650 .zhcm_Hap_650MultipleToggleButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ZHCM_PM_0650 .zRatingToggleBtn {
    width: 100%;
    height: 3.6rem !important;
    padding: 0 !important;
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(0, 157, 224);
    background-color: transparent;
}

.ZHCM_PM_0650 .zRatingToggleCantBtn {
    color: #8c8b8b !important;
}

.ZHCM_PM_0650 .zRatingToggleBtn .sapMBtnInner {
    padding: 0 0.13rem !important;
    height: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-radius: 0.6rem;
    background: #ffffff;
}

html.sap-desktop .ZHCM_PM_0650 .zRatingToggleBtn .sapMToggleBtnPressed {
    background-color: #007cc0;
}

.ZHCM_PM_0650 .zRatingToggleBtn .sapMBtnInner.sapMToggleBtnPressed {
    color: #ffffff !important;
    background-color: #007cc0 !important;
}

.ZHCM_PM_0650 .zRatingToggleBtn .sapMBtnContent {
    line-height: 3.5rem;
}

.ZHCM_PM_0650 .zhcm_Hap_650ScaleValText {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.5rem;
}

/*
* ZSlider650
*/
.ZHCM_PM_0650 .zslider650 {
    display: flex;
    justify-content: space-between;
}
.ZHCM_PM_0650 .zslider650 .sapMSliderTickmarks {
    border: 0px;
}
.ZHCM_PM_0650 .zslider650[data-no-value="true"] .sapMSliderHandle {
    left: 0 !important;
}

.ZHCM_PM_0650 .zslider650 .sapMSliderInner {
    border-right-width: 0px;
}

.ZHCM_PM_0650 .zslider650[data-no-value="true"] .zSliderInput>*:not(:focus) {
    color: white !important;
}

.ZHCM_PM_0650 .zSliderInput {
    width: 75px !important;
}

.ZHCM_PM_0650 .zSliderInput > input {
    height: 3rem !important;
    vertical-align: middle;
    margin-top: -8px;
    text-align: center;
}

.ZHCM_PM_0650 .zSliderInput .sapMInputBaseInner {
    font-weight: 700;
    font-size: 1rem;
}

.ZHCM_PM_0650 .zslider650 .sapMSliderHandle {
    z-index: 1;
}

.ZHCM_PM_0650 .zslider650 > div > ul > li.sapMSliderTick {
    border-left: 0.0625rem transparent solid;
}

.ZHCM_PM_0650 .zslider650-track {
    position: relative;
    width: 100%;
    background-color: transparent;
    height: 100%;
    top: -12px;
    align-items: center;
    display: inline-flex;
    left: 0;
    right: 0;
}

.ZHCM_PM_0650 .zslider650-part {
    height: 6px;
    outline: 0 solid blueviolet;
    outline-offset: 0;
    transition: .15s ease-out;
    position: relative;
}

.ZHCM_PM_0650 .zslider650-part span {
    position: absolute;
    top: 20px;
    left: -8px;
    text-align: center;
    right: -8px;
    margin: auto;
    font-size: 0.7rem;
    color: black;
    margin-left: 2px;
    padding-left: 6px;
    margin-right: 2px;
    padding-right: 6px;
    word-break: break-all;
}

.ZHCM_PM_0650 .zslider650-part span:hover {
    color: rgb(4, 158, 253);
    /*font-size: 0.9rem;*/
}

.ZHCM_PM_0650 .zslider650-part-text {

}

.ZHCM_PM_0650 .zslider650-active-part {
    outline: 1px solid blueviolet;
    outline-offset: 6px;
}

.ZHCM_PM_0650 .zslider650-active-part-tooltip {
    font-size: 0.8rem;
}

.ZHCM_PM_0650 .zAppSectionAvrgWrapper {
    display: inline-flex;
    justify-content: center;
    width: calc(100% - 22.75em);
}

.ZHCM_PM_0650 .zAppSectionAvrgVal {
    font-size: 20px;
    color: #CCCCCC;
    font-weight: 700;
    margin: 0 5px 0 0;
}

.ZHCM_PM_0650 .zMAppSectionAvrgWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ZHCM_PM_0650 .zMAppSectionAvrgVal {
    font-size: 20px;
    color: #CCCCCC;
    font-weight: 700;
}
