.ZHCM_PM_0650.sapUiGlobalBackgroundColor,
.ZHCM_PM_0650 .sapMShellGlobalInnerBackground {
    background: #fff;
}

html.sap-desktop .ZHCM_PM_0650 *:focus {
    outline: none !important;
}

html.sap-desktop .ZHCM_PM_0650 *:focus>.sapMFocusable {
    outline: none !important;
}

.ZHCM_PM_0650 .sapMBtn:focus .sapMBtnFocusDiv {
    border: none !important;
}

.ZHCM_PM_0650 .zOverviewMainPanel {
    background: #fff;
}

.ZHCM_PM_0650 .zOverviewMainPanel .sapMPanelContent {
    border: none;
    padding: 0;
}

.ZHCM_PM_0650 .zOverviewITB .sapMITH {
    background: #fff;
}

.ZHCM_PM_0650 .zOverviewITB .sapMITBContainerContent {
    border: none
}

.ZHCM_PM_0650 .zOverviewITB .sapMITBText {
    width: auto;
}
.ZHCM_PM_0650 .zOverviewITB .sapMITBTab {
    width: auto;
}
.ZHCM_PM_0650 .zOverviewITB .sapMITBVertical {
    width: 8rem;
}

.ZHCM_PM_0650 .zFilterPanel .sapMPanelWrappingDivTb {
    border: none;
}

.ZHCM_PM_0650 .zFilterPanel .sapMPanelContent {
    border: none;
}

.ZHCM_PM_0650 .zFilterPanel .sapUiVlt.sapUiContentPadding>.sapuiVltCell:not(:last-child) {
    padding-bottom: 0;
}

.ZHCM_PM_0650 .zFilterButton .sapMBtnInner {
    width: 143px;
    height: 32px;
    background-color: rgba(84, 150, 205, 1);
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 14px;
    background: rgba(84, 150, 205, 1);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}