.ZHCM_PM_0650 .zOverviewITB .sapMITBContent {
    padding: 0;
}
.ZHCM_PM_0650 .zOverviewPanel .sapMPanelContent {
    padding: 0;
}
.ZHCM_PM_0650 .zOverviewPanel .sapMListTblHighlightCol + .sapMListTblHeaderCell,
.ZHCM_PM_0650 .sapMListTblHighlightCell + .sapMListTblCell {
    padding-left: 0.5rem !important;
}
.ZHCM_PM_0650 .zOverviewPanel .sapMListTblCell {
    padding: 0;
}
.ZHCM_PM_0650 .zMTaskTextWMargin {
    font-weight: 700 !important;
    width: 100%;
    margin: .5rem 0;
}
.ZHCM_PM_0650 .zOverviewPanel .sapMListTblSubCntRow {
    margin-top: 0;
}
.ZHCM_PM_0650 .zOverviewPanelSubords .sapMListTblNavCol {
   display: none !important;
}
.ZHCM_PM_0650 .zOverviewPanel .sapMListTblNavCol,
.ZHCM_PM_0650 .sapMLIBImgNav {
    width: 1.5rem !important;
    display: table-cell;
}
.ZHCM_PM_0650 .zMSmallFont {
    font-size: 0.7rem;
}
.ZHCM_PM_0650 .zMEvalProcTb {
    height: auto !important;
    margin: .5rem 0;
}
.ZHCM_PM_0650 .zMEvalProcTbTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ZHCM_PM_0650 .zMEvalProcTbTitle div:first-child {
    min-height: 2.2em !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
}
.ZHCM_PM_0650 .zMEvalProcTb .sapMText {
    font-weight: 700;
}
.ZHCM_PM_0650 .zBigTaskIcon {
    font-size: 1.5rem !important;
}
.ZHCM_PM_0650 .zMFilterIcon {
    color: white;
    font-size: 1.6rem;
}
.ZHCM_PM_0650 .zMFilterDialogContentBox {
    padding: 1rem;
}
.ZHCM_PM_0650 .zMSmallText {
    font-size: 0.8rem;
}

.ZHCM_PM_0650 .zSegmButtonContainer li.sapMSegBBtnSel .sapMSegBBtnInner {
    color: #ffffff !important;
}
.ZHCM_PM_0650 .zSegmButtonContainer li .sapMSegBBtnInner {
    line-height: normal !important;
    font-size: 0.889rem !important;
}

.ZHCM_PM_0650 .zMExpandButton {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 16px);
}
.ZHCM_PM_0650 .zMTopHeader {
    background-color:rgba(239, 244, 249, 1);
    padding: 0 0 15px 0;
    border-bottom: 2px solid rgba(209, 224, 237, 1);
    padding-top: 1rem;
}
.ZHCM_PM_0650 .zMTabHeaderNameEvalProc {
    font-size: 13px;
    font-weight: 700 !important;
    color: #333333;
    white-space: pre-wrap;
}
.ZHCM_PM_0650 .zMSaveBtn {
    font-weight: 700;
    height: 80%;
    color: white;
    background-color: #236cb0;
    border: #236cb0 1px solid;
    border-radius: 0.2em;
    padding: 0;
}

.ZHCM_PM_0650 .zMSaveBtn:hover {
    cursor: pointer;
    background-color: #194e7e;
    border: #194e7e 1px solid;
}

.ZHCM_PM_0650 .zMSaveBtn .sapMBtnContent {
    display: inline-block;
}

.ZHCM_PM_0650 .zMSaveBtn .sapMBtnIcon {
    font-size: 1.5em;
    color: #ffffff;
}

.ZHCM_PM_0650 .zMSaveBtn .sapMFocusable .sapMBtnIcon,
.ZHCM_PM_0650 .zhcm_Hap_650TbDeclineBtn .sapMFocusable .sapMBtnIcon {
    display: inline-grid;
}
.ZHCM_PM_0650 .zMSaveBtn .sapMFocusable .sapMBtnContent {
    padding: 0 0.6em;
}
/*- survey styles -*/

.ZHCM_PM_0650 .zIndicRaterBlock {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    padding: .5rem;
    margin-top: .5rem;
}

.ZHCM_PM_0650 .zSegmButtonContainer {
    height: 2.5rem !important;
    display: flex;
}

.ZHCM_PM_0650 .zSegmButtonContainer .sapMSegBBtn {
    line-height: 1.1rem;
    white-space: normal;
    font-size: 0.8rem;
    height: 100%
}

.ZHCM_PM_0650 .zSegmButtonContainer .sapMSegBBtn .sapMSegBBtnInner {
    text-overflow: initial;
    font-size: 1em !important;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbDeclineBtn .sapMBtnIcon {
    font-size: 1.5rem;
    color: rgb(204, 25, 25);
}
.ZHCM_PM_0650 .zMCantEstimateBtn {
    width: 100%;
    min-height: 2rem;
}
.ZHCM_PM_0650 .zMCantEstimateBtn .sapMBtnInner {
    background-color: #FFFFFF;
    color: #8c8b8b;
    border-color: #8c8b8b;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
html.sap-desktop .ZHCM_PM_0650 .zMCantEstimateBtn .sapMToggleBtnPressed {
    background-color: #007cc0;
}
.ZHCM_PM_0650 .zMCantEstimateBtn .sapMBtnInner.sapMToggleBtnPressed {
    color: #ffffff !important;
    background-color: #007cc0 !important;
}
.ZHCM_PM_0650 .zMobSliderInput {
    position: absolute;
    top: 5px;
    right: 5%;
}

.ZHCM_PM_0650 .zSliderInput.zMobSliderInput > input {
    height: 2rem !important;
}

.ZHCM_PM_0650 .zMIndicDescr {
    width: 200px;
    margin-right: 1rem;
    color: rgb(66, 124, 172);
    font-size: 12px;
}

.ZHCM_PM_0650 .zMInformationBtnDialogFlexBox{
    padding: 0 15px;
}
.ZHCM_PM_0650 .zOverviewPanelSubords .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td,
.ZHCM_PM_0650 .zOverviewPanelSubords .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td {
    border-bottom: none !important;
}

.ZHCM_PM_0650 .zOverviewPanelMobile .sapMPanelExpandableIcon:before {
    top: -4px;
    position: relative;
}

.ZHCM_PM_0650 .sapMListTblSubCnt {
    padding: .5rem .5rem;
}

.ZHCM_PM_0650.zMessagePopoverPress > footer.sapMDialogFooter > .sapContrast > .sapMBtn > .sapMBtnInner {
    color: #bb0000 !important;
    border: 1px solid !important;
    border-color: #bb0000 !important;
}
.ZHCM_PM_0650.zMessagePopoverPress > footer.sapMDialogFooter > .sapContrast > .sapMBtn > .sapMBtnInner.sapMBtnActive {
    background: #bb0000 !important;
    color: #FFF !important;
}

.ZHCM_PM_0650 .posrel {
  position: relative !important;
}
.ZHCM_PM_0650 .zMobSliderInput {
  position: absolute !important;
}
/* .zMobSliderFlexItem, */
.ZHCM_PM_0650 .zMobSliderFlexItem>* {
    position: static !important;
}

.ZHCM_PM_0650 .competencySliderWrapperMobile {
    padding: 0 0.4rem;
}

.ZHCM_PM_0650:not(.zCustomMessageBox) .sapMFooter-CTX .sapMBtn:not(.sapMDialogBeginButton) .sapMBtnInner:not(.sapMBtnEmphasized){
    background-image: none;
    background-color: #fff;
    border-color: #b00;
    color: #b00;
}

.ZHCM_PM_0650 .sapMFooter-CTX .sapMDialogBeginButton .sapMBtnInner:not(.sapMBtnReject){
    border-color: #236cb0;
}

.ZHCM_PM_0650 .competenciesList .sapMSLIImgIcon{
    margin: 0 0 10px !important;
}