

/* ---- employee info styles */
.ZHCM_PM_0650 .employeeInfoWrap {
    margin: 3px 6px 3px 0px;
}
.sapUiMedia-StdExt-Phone .ZHCM_PM_0650 .employeeInfoWrap {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 0px;
    margin-left: 0px;
}
.sapUiMedia-StdExt-Tablet .ZHCM_PM_0650 .employeeInfoWrap {
    width: 48% !important;
    max-width: 48% !important;
}
.sapUiMedia-StdExt-Desktop .ZHCM_PM_0650 .employeeInfoWrap {
    width: 32% !important;
    max-width: 32% !important;
}
.sapUiMedia-StdExt-LargeDesktop .ZHCM_PM_0650 .employeeInfoWrap {
    width: 600px !important;
    max-width: 600px !important;
}

.ZHCM_PM_0650 .zhcm_Hap_650EmployeeInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5px;
    padding-right: 5px;
    border: solid 1px gainsboro;
    background-color: white;
}
.ZHCM_PM_0650 .zhcm_Hap_650EmployeeInfoBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.ZHCM_PM_0650 .zhcm_Hap_650EmployeeInfoLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ZHCM_PM_0650 .zhcm_Hap_650UserIcon {
    height: 5rem;
    width: 5rem;
    display: block;
    padding: 5px 15px 15px 15px;
}

.ZHCM_PM_0650 .zhcm_Hap_650EmployeeInfoRight {
    color: #999999;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: calc(100% - 110px);
}

.ZHCM_PM_0650 .zhcm_Hap_650EmployeeInfoRightBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.ZHCM_PM_0650 .zhcm_Hap_650EInfoName {
    font-weight: 700;
    font-size: 18px;
    color: #666666;
    margin-bottom: 5px;
}

.ZHCM_PM_0650 .zCenteredButton {
    display: block;
    margin: 0 auto 5px auto;
}

.ZHCM_PM_0650 .zGreyButton {
    flex: 0 0 30px;
}

.ZHCM_PM_0650 .zGreyBtnBorder .sapMBtnInner {
    border-color: #666666;
}

.ZHCM_PM_0650 .zGreyButton .sapMBtnInner {
    color: #666666;
}

/* ---- */
.ZHCM_PM_0650 .zBtnBack .sapMBtnInner {
    border: none;
    background-color: transparent;
    height: auto;
}

.ZHCM_PM_0650 .zTabHeaderNameEvalProc {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700 !important;
    color: #333333;
}

.ZHCM_PM_0650 .zTabHeaderTxt {
    font-weight: 700 !important;
    width: 100%;
}

/* ============ STYLED INDICATOR DROPDOWN SECTION ============== */
.ZHCM_PM_0650 .zIndRoundedFlexBox {
    border: 1px solid rgb(204, 204, 204);
    padding: 0.4rem;
    margin: 0.5rem 0;
    border-radius: 8px;
}

.ZHCM_PM_0650 .zWidth100 {
    width: 100% !important;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndDropLine {
    border: rgb(207, 207, 207) 1px solid;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 15px;
    min-height: 35px;
}

.ZHCM_PM_0650 .zIndDDText {
    font-size: 12px;
}

/* ---- PANEL ------ */
.ZHCM_PM_0650 .zhcm_Hap_650Panel {
    width: 92% !important;
    margin: auto;
}

.ZHCM_PM_0650 .zhcm_Hap_650Panel .sapMPanelContent {
    padding: 0 0 0 0;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

.ZHCM_PM_0650 .zhcm_Hap_650Panel .zhcm_Hap_650AppraisalSection {
    width: 96%;
    margin: 0 auto 10px auto;
}

/* css helpers */
.ZHCM_PM_0650 .zhcm_Hap_650AppraisalSection {
    background-color: white;
    position: relative;
    text-align: left;
    margin: 1% 0;
}

.ZHCM_PM_0650 .zhcm_Hap_650AppraisalSection .sapUiIcon {
    margin: 0 0 0 0.5rem;
    background-clip: border-box;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: rgb(47, 60, 72);
    cursor: pointer;
    height: 1.5rem;
    line-height: 1.4rem;
    width: 1.5rem;
}

.ZHCM_PM_0650 .zhcm_Hap_650SCHeader {
    font-weight: 700;
    font-size: 14px;
}

.ZHCM_PM_0650 .zEvalProcToolbar .sapMText {
    font-weight: 700 !important;
}

.ZHCM_PM_0650 .zEvalProcPeriod {
    color: #C3C3C3 !important;
}

/* ============ indicator container ============ */

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorsDragAndDrop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorContainer {
    font-size: 12px;
    font-weight: 700;
    border: 1px solid rgb(242, 242, 242);
    border-top: 2px solid #8c8b8b;
    display: inline-block;
    min-height: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    width: 30.5%;
}

/* ============ Indciator tyles ============ */
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorTile {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box;
    transition: 0.3s;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 5px 0;
    padding: 10px;
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorTile:hover {
    box-shadow: 0 4px 8px 0 #808080;
    cursor: move;
    font-weight: bold;
}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorContainerNotOk {

}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorContainerOk {

}
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorContainerNotOk .zhcm_Hap_650IndicatorTile {
    color: rgb(255, 119, 119);
}

.ZHCM_PM_0650 .zhcm_Hap_650IndicatorContainerOk .zhcm_Hap_650IndicatorTile {
    color: rgb(66, 124, 172);
}

/* ============ m.Text styles ============ */
.ZHCM_PM_0650 .zhcm_Hap_650TextViewGeneral {
    text-align: center !important;
    display: block;
    font-size: 1.1rem;
    margin: auto;
}

.ZHCM_PM_0650 .zhcm_Hap_650TextCompetencyGroup {
    color: grey;
}

.ZHCM_PM_0650 .zhcm_Hap_650TextCompetencyTitle {
    font-weight: bold;
}

.ZHCM_PM_0650 .zhcm_Hap_650BlueCompetencyDescr {
    display: block;
    color: white;
    background-color: #007cc0;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    width: 50%;
    margin: 10px auto auto auto;
}

.ZHCM_PM_0650 .zhcm_Hap_650Instruction {
    max-width: 30%;
    margin: 0 5rem 0 0;
    padding: 5px 5px 5px 5px;
    float: right;
    color: grey;
    background-color: white;
    border: black 1px solid;
}

.ZHCM_PM_0650 .zhcm_Hap_650DisableText span{
    color: rgb(159, 150, 151) !important;
}

.ZHCM_PM_0650 .zhcm_Hap_650EnableText span,
.ZHCM_PM_0650 .zhcm_Hap_650EnableText span{
    color: black !important;
}

/* ============ comment input ============ */
.ZHCM_PM_0650 .zhcm_Hap_650CommentHint {
    margin: 1rem 0 0 0rem;
    font-size: 0.8rem;
}

.ZHCM_PM_0650 .zhcm_Hap_650CommentInput {
}

.ZHCM_PM_0650 .zhcm_Hap_650CommentInput > textarea {
    height: inherit !important;
}

/* ============ bottom toolbar styles ============ */

.ZHCM_PM_0650 .zhcm_Hap_650BottomToolbar {
    margin: 1rem 1rem 0 1rem;
    height: 2.5rem !important;
    background-color: #696969;
    padding: 0 1rem 0 1rem;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbNavBtn {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #007cc0;
    border: #007cc0 1px solid;
}
.ZHCM_PM_0650 .zhcm_Hap_650TbNavBtn[disabled="true"],
.ZHCM_PM_0650 .zhcm_Hap_650TbNavBtn[disabled="disabled"] {
    opacity: 0.5;
}
.ZHCM_PM_0650 .zhcm_Hap_650TbNavBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbSaveBtn {
    color: white;
    background-color: #007cc0;
    font-size: 0.8rem;
    border: #007cc0 1px solid;
    width: 120px;
}
.ZHCM_PM_0650 .zhcm_Hap_650TbSaveBtn[disabled="true"],
.ZHCM_PM_0650 .zhcm_Hap_650TbSaveBtn[disabled="disabled"] {
    opacity: 0.5;
}
.ZHCM_PM_0650 .zhcm_Hap_650TbSaveBtn:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbSaveBtn .sapMBtnContent {
    display: inline-block;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbSaveBtn .sapMBtnIcon {
    margin-left: 0;
    margin-right: 0.8rem;
    font-size: 1.5rem;
    color: #ffffff;

}

/*Стиль красной кнопки для отмены или выхода*/
.ZHCM_PM_0650.zhcm_Hap_650CloseBtn,
.ZHCM_PM_0650 .zhcm_Hap_650CloseBtn {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #cd191a;
    border: #cd191a 1px solid;
    padding: 0em 1em;
    border-radius: 2px;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbDeclineBtn {
    color: white;
    font-size: 0.8rem;
    background-color: rgba(205, 25, 26, 0);
    border: firebrick 1px solid;
    border-radius: 2px;
    padding: 0 0.2em;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbDeclineBtn[disabled="true"],
.ZHCM_PM_0650 .zhcm_Hap_650TbDeclineBtn[disabled="disabled"] {
    opacity: 0.5;
}

.ZHCM_PM_0650 .zhcm_Hap_650TbDeclineBtn:hover {
    cursor: pointer;
    background-color: red;
}

/* === */
.ZHCM_PM_0650 .zDownloadReportBtn {
    background-color: #009DE0;
}

.ZHCM_PM_0650 .zDownloadReportBtn .sapMBtnInner {
    color: white;
}

/* === Different sap.m.Text styles */
.ZHCM_PM_0650 .zhcm_Hap_650IndicatorText {
    width: 155px;
    color: rgb(66, 124, 172);
    font-size: 10px;
}

.ZHCM_PM_0650 button.zhcm_Hap_650IndicatorText {
    cursor: pointer !important;
    height: 100% !important;
    overflow: visible;
}

.ZHCM_PM_0650 button.zhcm_Hap_650IndicatorText .sapMBtnText,
.ZHCM_PM_0650 button.zhcm_Hap_650IndicatorText:hover .sapMBtnText,
.ZHCM_PM_0650 button.zhcm_Hap_650IndicatorText:active .sapMBtnText {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    background: white;
    border: none;
    color: rgb(66, 124, 172);
    font-size: 14px;
}

.ZHCM_PM_0650 button.zhcm_Hap_650IndicatorText .sapMBtnInner {
    padding: 0 !important;
}

.ZHCM_PM_0650 button.zhcm_Hap_650IndicatorText .sapMBtnText .sapMBtnContent {
    line-height: 1em;
    max-height: 4em;
    text-align: left;
    overflow: hidden;
    white-space: normal;
    margin-top: 23px;
    transform: translateY(-50%);
}

.ZHCM_PM_0650 .zCorpTB.sapMTB {
    background-size: 100% 110px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#606366), to(#2c2c2c));
    background-image: -webkit-linear-gradient(top center, #606366, #2c2c2c);
    background-image: -ms-linear-gradient(#606366, #2c2c2c);
    background-image: linear-gradient(top center, #606366, #2c2c2c);
    height: 45px;
    padding-left: 30px;
}

.ZHCM_PM_0650 .zCorpTB.sapMTB > .sapMText {
    font-weight: bold;
    text-shadow: 1px 1px 2px #333333;
    color: white;
    font-size: 13px !important;
}

.ZHCM_PM_0650 .sapMPageHeader::before {
    border-top: none;
}

.ZHCM_PM_0650 .zUserAvatar {
    border-radius: 100%;
}

.ZHCM_PM_0650 .zHdrTextBlack {
    font-size: 13px;
    color: #000000;
}

.ZHCM_PM_0650 .zHdrTextGrey {
    font-size: 13px;
    color: #999999;
    word-break: normal;
}

.ZHCM_PM_0650 .zPnlSurvey .sapMTB {
    height: 3.5em;
}
.ZHCM_PM_0650 .zPnlSurveyMobile .sapMTB {
    height: auto;
}

.ZHCM_PM_0650 .zContentBox {
    width: 100% !important;
}

.ZHCM_PM_0650 .sapUiSizeCompact.sapMMsgPopover .sapMMsgPopoverItem.sapMSLINoDescIcon {
    height: auto;
}

.ZHCM_PM_0650 .sapMSLITitleOnly {
    white-space: normal;
}

.ZHCM_PM_0650 .competenciesList .sapUiIcon[data-sap-ui-icon-content=""] {
    color: rgb(0, 157, 224);
}

.ZHCM_PM_0650 .competenciesList {
    min-width: 19em;
}
.ZHCM_PM_0650 .competenciesList .sapMSLIImgIcon {
    left: 8px;
    width: 2.5rem;
}

.ZHCM_PM_0650 [data-color="orange"] {
    color: orange;
}
.ZHCM_PM_0650 .zMoveUp15 {
    transform: translateY(-15px);
}

.ZHCM_PM_0650 [id$="HideMyBusyIndicator-busyIndicator"]>* {
    display: none !important;
}
/* при скроле и включенном бизи - внизу остается небольшой просвет. компенсируем избыточной высотой */
.ZHCM_PM_0650 [id$="HideMyBusyIndicator-busyIndicator"] {
    transform: scaleY(100) translateY(49.5%);
    z-index: 1 !important;
}

.ZHCM_PM_0650 .zWordBreakNormal {
    word-break: normal;
}

/* убираем обводку */

.ZHCM_PM_0650 * {
    outline: none !important;
}
html.sap-desktop .ZHCM_PM_0650 :not(.sapMCbBgDis).sapMCb.sapMCbHasLabel:focus::before,
html[data-sap-ui-browser^='ie'].sap-desktop .ZHCM_PM_0650 :not(.sapMLnkDsbl).sapMLnk:focus::before,
html[data-sap-ui-browser^='ed'].sap-desktop .ZHCM_PM_0650 :not(.sapMLnkDsbl).sapMLnk:focus::before,
html[data-sap-ui-browser^='ie'] .ZHCM_PM_0650 .sapUiIcon:focus::after,
html[data-sap-ui-browser^='ed'] .ZHCM_PM_0650 .sapUiIcon:focus::after,
.ZHCM_PM_0650 .sapMLIBLegacyOutline:focus::before {
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

/* ======== */

@media (min-width: 300px) and (max-width: 767px) {
    .ZHCM_PM_0650 .sapMColumnHeader {
        padding: .875rem .4rem 1rem 0;
    }
    .ZHCM_PM_0650 .zPnlSurvey .sapMPanelContent {
        padding: 0.625em 0.3em 1.375em 0.3em;
    }
    .ZHCM_PM_0650 .zIndRoundedFlexBox .sapMFlexItem {
        width: 100%;
    }
    .ZHCM_PM_0650 .zRatingToggleBtn .sapMBtnInner {
        font-size: 0.7em;
    }
    .ZHCM_PM_0650 .zslider650 .sapMSlider {
        padding: 2em 0.2em 0 0.6em;
    }
    .ZHCM_PM_0650 .zslider650 .sapMSlider .sapMSliderInner {
        width: 96%;
    }
    .ZHCM_PM_0650 .zslider650 .sapMSlider .sapMSliderInner .sapMSliderHendle {
        margin-left: -0.7;
    }
    .ZHCM_PM_0650 .zhcm_Hap_650AppraisalSection {
        display: flex;
        flex-direction: column;
    }
    .ZHCM_PM_0650 .zMAppSectionAvrgWrapper {
        order: -1;
        padding-top: 0.5em;
    }
    .ZHCM_PM_0650 .zhcm_Hap_650AppraisalSection .sapUiIcon {
        position: absolute;
        left: 11em;
    }
    .ZHCM_PM_0650 .zhcm_Hap_650SCHeader {
        margin: 0.4em 0 0 1rem;
        height: 2em;
        display: flex;
        align-items: center;
    }

    .ZHCM_PM_0650.zhcm_Hap_650CloseBtn,
    .ZHCM_PM_0650 .zhcm_Hap_650CloseBtn {
        border-radius: 5px;
        padding: 0.5em 1em;
    }

    
    .ZHCM_PM_0650 .sapMSLI {
        height: auto;
        line-height: 1em;
        padding: .5em 1em;
    }

    .ZHCM_PM_0650 .sapMSLI .sapMSLITitle{
        white-space: initial !important;
        text-align: justify !important;
        overflow: visible !important;
    }

}

.ZHCM_PM_0650 .sapUiSmallMarginTopBottom{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.ZHCM_PM_0650 .sapUiSmallMarginTop{
    margin-top: 0.5em !important;
}

.ZHCM_PM_0650 .zColleaguesBox{
    margin-top: 0.5em;
}

@media (min-width: 300px) and (max-width: 375px) {
    .ZHCM_PM_0650 .zRatingToggleBtn {
        font-size: 2.1em !important;
    }
    .ZHCM_PM_0650 .sapMIBar-CTX{
        background-color: white !important;
    }
}

/* Copy from nikel theme to HRD */
.ZHCM_PM_0650 .sapUiGlobalBackgroundColor,
.ZHCM_PM_0650 .sapMShellGlobalInnerBackground {
    background-color: #f7f7f7;
}