.ZHCM_PM_0650 .zUserProperty .sapMObjectAttributeDiv .sapMText .sapMObjectAttributeDiv .sapMObjectAttributeTitle .sapMObjectAttributeDiv .sapMObjectAttributeColon .sapMObjectAttributeDiv .sapMObjectAttributeText {
  font-size: 0.8rem;
}

.ZHCM_PM_0650 .zSliderWrap {

}

.ZHCM_PM_0650 .zSliderWrap .sapMSliderInner {
  border-radius: 2rem;
  height: 2.5rem;
}

.ZHCM_PM_0650 .zSlidersContainer {
    padding-top: 0.8rem;
}

.ZHCM_PM_0650 .zSlidersContainer > div:first-child {
    min-height: 55px;
    line-height: 55px;
    margin-top:-8px;
}

.ZHCM_PM_0650 .zSlidersContainer > div:first-child > span {
  vertical-align: middle;
}

.ZHCM_PM_0650 .zCompListItem {
    min-height: 4rem !important;
    border-left: 4px solid transparent;
    width: 100%;
    padding: 0;
}

.ZHCM_PM_0650 .zCompListItem .sapMSLIImgIcon {

}
.ZHCM_PM_0650 .zCompListItem .sapMSLIImgIcon:before {
  display: block;
    transform: translateX(-10px);
}

.ZHCM_PM_0650 .zCompListItem,
.ZHCM_PM_0650 .zCompListItem .sapMPanelContent {
    overflow: hidden;
}
.ZHCM_PM_0650 .zCompListItem .sapMLIBContent {
    margin: 0 2.5em 0 0;
}
.ZHCM_PM_0650 .zCompListItem .sapMSLITitle {
    font-size: 0.875rem;
    width: 200px;
    overflow: visible;
    white-space: initial;
}
.ZHCM_PM_0650 .zCompListItem .sapMSLIDescription {
    color: rgb(204, 204, 204);
    font-size: 0.8rem;
    padding: 0.2em 0 !important;
}
.ZHCM_PM_0650 .zCompListItem .sapMSLIInfoNone {
    color: rgb(0, 157, 224);
    font-weight: 700;
    font-size: 1rem;
}
.ZHCM_PM_0650 .zCompListItem [data-sap-ui-icon-content$='$#xe03f'] { /* icon complete */
    color: rgb(0, 157, 224);
}
.ZHCM_PM_0650 .zCompListItem:after {
    content: attr(data-info);
    position: absolute;
    display: block;
    width: 60px;
    right: 20px;
    font-weight: bold;
    color: rgb(0, 157, 224);
    text-align: end;
}
.ZHCM_PM_0650 .zSurveyCompName {
    color: rgb(0, 157, 224) !important;
    font-weight: 700 !important;
    margin-right: 1rem;
}
.ZHCM_PM_0650 .zSurvey0pName {
    color: rgb(204, 204, 204) !important;
    font-weight: 700 !important;
}
.ZHCM_PM_0650 .zCompWithError {
    border-left: 4px solid red !important;
}

.ZHCM_PM_0650 .zIndWrapperVertical {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 6px 0 rgba(117,117,117,.25);
  border-radius: 8px;
  display: block;
  margin: 0.4rem 0 0 0.4rem;
  max-width: 400px;
  padding: 1rem 1rem 0.5rem 1rem;
}

.ZHCM_PM_0650 .zDescription {
  font-size: 0.8rem !important;
  margin-bottom: 1rem;
}

.ZHCM_PM_0650 .zIndWrapperHorizontal .sapMText {
  display: block;
  font-size: 0.6rem;
  margin: auto;
  text-align: center !important;
  width: 100%
}

.ZHCM_PM_0650 .zIndWrapperHorizontal {
  display: flex;
  max-width: 300px;
  justify-content: space-around;
  margin: auto;
}

.ZHCM_PM_0650 .zWrapperHeader .sapMText {
  font-size: 0.8rem;
}

.ZHCM_PM_0650 .zWrapperHeader .sapMFT {
    font-size: 0.8rem;
    color: rgb(153, 153, 153);
}

.ZHCM_PM_0650 .zHeaderLabels {
  margin: 0 0.5rem 0 0;
}

.ZHCM_PM_0650 .zHeaderLabels .sapMText {
  color: grey;
}

.ZHCM_PM_0650 .zBlueText {
    color:rgb(25,158,221) !important;
}

.ZHCM_PM_0650 .zBlueTextBold {
    color:rgb(25,158,221) !important;
    font-weight: 700 !important;
}

.ZHCM_PM_0650 .zBoldText {
    font-weight: 700 !important;
}

.ZHCM_PM_0650 .zRedText {
    color: red !important;
}

.ZHCM_PM_0650 .zInheritColor,
.ZHCM_PM_0650 .sapMListTbl .sapMText,
.ZHCM_PM_0650 .sapMListTbl .sapMLabel {
    color: inherit;
}

.ZHCM_PM_0650 [data-color-style=zRedText] {
    color: red !important;
}

.ZHCM_PM_0650 [data-color-style=zGreenText] {
    color:green !important;
}

.ZHCM_PM_0650 [data-color-style=zGreyText] {
    color: #7F7F95 !important;
}

.ZHCM_PM_0650 [data-color-style=zBlueText] {
    color: #009de0 !important;
}

.ZHCM_PM_0650 .zCantEstimateBtn {
    width: 2em;
    height: 3rem !important;
    padding: 0 !important;
    font-weight: 700;
    font-size: 2rem;
    color: #CCCCCC;
    background-color: transparent;
}

.ZHCM_PM_0650 .zCantEstimateBtn .sapMBtnInner {
    height: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-radius: 0.6rem;
    background: #ffffff;
}

html.sap-desktop .ZHCM_PM_0650 .zCantEstimateBtn .sapMToggleBtnPressed {
    background-color: #007cc0;
    color: #ffffff;
}

.ZHCM_PM_0650 .zCantEstimateBtn .sapMBtnContent {
    line-height: 3rem;
}

.ZHCM_PM_0650 .zCantEvalText {
    font-size: 11px;
    text-align: center !important;
    white-space: nowrap;
}

/* new page content styles  */
.ZHCM_PM_0650 .zTopHeader {
    background-color:rgba(239, 244, 249, 1);
    padding: 15px;
    border-bottom: 2px solid rgba(209, 224, 237, 1);
}

.ZHCM_PM_0650 .zPageContent {
    padding: 0 0 0 15px;
}

.sapUiMedia-StdExt-Phone .ZHCM_PM_0650  .zPageContent {
    padding-left: 6px;
}

.ZHCM_PM_0650 .zExpandedHdr {
    padding-left: 1.3em;
    align-items: flex-start;
}

.ZHCM_PM_0650 .zSmallText {
    font-size: 0.8rem;
}

.ZHCM_PM_0650 .zScalePopover .sapMIBar-CTX .sapMTitle {
    color: #007cc0;
}

.ZHCM_PM_0650.zCustomMessageBox > footer button:nth-child(2) > span {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #007cc0;
    border: #007cc0 1px solid;
}

.ZHCM_PM_0650.zCustomMessageBox > footer button:nth-child(2):hover > span {
     cursor: pointer;
     background-color: dodgerblue !important;
}

.ZHCM_PM_0650.zCustomMessageBox > footer button:nth-child(3) > span {
    color:white !important;
    font-size: 0.8rem;
    border: firebrick 1px solid;
    background-color: firebrick !important;
}

.ZHCM_PM_0650.zCustomMessageBox > footer button:nth-child(3):hover > span {
    cursor: pointer;
    background-color: red !important;
}

 .ZHCM_PM_0650 .zFlexTextAligner {
    display: flex;
    justify-content: center;
 }

 .ZHCM_PM_0650 .zFitContentWidth {
    margin-left: 10px;
    width: max-content;
    margin-top: -5px;
 }

 .ZHCM_PM_0650 .sapUiTinyMarginBegin.zCantEstimateBtnBox {
 	margin-top: -5px;
 }


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ZHCM_PM_0650 .zCompListItem::after{
        right: 1.3em !important;
        top: calc(50% - 8px);
        display: flex;
        justify-content: flex-end;
    }
    .ZHCM_PM_0650 .zPageContent .sapMBox .sapMFlexItem{
        width: 20% !important;
    }
}